.App {
  text-align: center;
}

input {
  width: 180px;
  padding: 4px 8px;
  margin: 0 8px;
}

input:focus {
  box-shadow: 0 0 6px #008dcc;
}

.filters{ 
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 16px;
}

.warning {
  color: plum;
}
